raziskovalna_naloga/*.l*
raziskovalna_naloga/*.aux
raziskovalna_naloga/*.toc
raziskovalna_naloga/*.run.xml
raziskovalna_naloga/*.synctex.gz
raziskovalna_naloga/*.b*
raziskovalna_naloga/*.f*
raziskovalna_naloga/*.out
raziskovalna_naloga/*.pdf
raziskovalna_naloga/*.snm
raziskovalna_naloga/*.nav
CAD/*.FCBak
