raziskovalna_naloga/EIRMNTG.log
raziskovalna_naloga/EIRMNTG.pdf
raziskovalna_naloga/EIRMNTG.aux
raziskovalna_naloga/EIRMNTG.toc
raziskovalna_naloga/EIRMNTG.run.xml
raziskovalna_naloga/EIRMNTG.synctex.gz
raziskovalna_naloga/EIRMNTG.b*
